apiVersion: v1
kind: Secret
metadata:
  name: librechat-secrets
  namespace: librechat
type: Opaque
data:
  CREDS_IV: <base64-encoded>
  CREDS_KEY: <base64-encoded>
  GOOGLE_API_KEY: <base64-encoded>
  JWT_REFRESH_SECRET: <base64-encoded>
  JWT_SECRET: <base64-encoded>
  MEILI_MASTER_KEY: <base64-encoded>
  MONGO_URI: <base64-encoded>
  OPENAI_API_KEY: <base64-encoded>
  REDIS_PASSWORD: <base64-encoded>
